<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://nubecolectiva.com/favicon.ico" />

    <meta name="theme-color" content="#000000" />

    <title>Como Crear Un CRUD con Ruby on Rails 7 </title>

  </head>

  <body> 

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
              <a class="navbar-brand" href="#">Mi Proyecto</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Home</a>                    
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="nosotros.html">Nosotros</a>                    
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="servicios.html">Servicios</a>                    
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="contacto.html">Contacto</a> 
                  </li>

                </ul>

                <div class="btn-group btodt" role="group" aria-label="Basic example">                 
                  <button type="button" onclick="window.open('https://nubecolectiva.com/donaciones','_blank')" class="btn btn-warning">Donar</button>                 
                  <button type="button" onclick="window.open('https://blog.nubecolectiva.com/como-crear-un-crud-con-django-5-parte-1/','_blank')" class="btn btn-info">Post</button>
                </div>
                
              </div>
            </div>
        </nav>
    </header>

    <main role="main">

        <div class="container text-center mt-100">

          <div class="row mb-4">
            <div class="col-md-12">
              <h1 style="font-size: 28px;">Como Crear Un CRUD con Ruby on Rails 7 </h1>              
            </div>
          </div>          

          <div class="row mb-5">

            <div class="card col-md-2">
              <h6 class="mt-4"><strong>Menú</strong></h6> 
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Dashboard</li>
                <li class="list-group-item active">Postres</li>
                <li class="list-group-item">Configuración</li>
              </ul>
            </div>

            <div class="col-md-10">              

                <nav aria-label="breadcrumb mb-3">
        			<ol class="breadcrumb">
        				<li class="breadcrumb-item"><a href="../index">Postres</a></li>
        				<li class="breadcrumb-item active">Leer</li>
        			</ol>
        		</nav>

                <div align="left">
                    
                    <% @postres.each do |postres| %>

                        <h4><%= postres.nombre %></h4>

                        <strong>Stock:</strong> <%= postres.stock %>
                        <br><br>

                        <strong>Precio:</strong> <%= postres.precio %>
                        <br><br>

                        <strong>Creado:</strong> <%= postres.created_at.strftime("%d/%m/%Y") %>
                        <br><br>

                        <img src="/assets/img/<%= postres.img %>" class="img-fluid" title="<%= postres.nombre %>" alt="<%= postres.nombre %>">
                             					
                    <% end %> 
                        
                        <br>
                        <a href="../index" class="btn btn-secondary mt-3">Cancelar</a> 

                </div>                

            </div>

          </div>          

          <hr>

          <div class="row">

            <div class="col-md-12">

              <p class="lead">En <a href="http://nubecolectiva.com/" target="_blank"> Nube Colectiva </a> hablamos sobre:</p>

            </div>

          </div>

          <div class="row">

              <div class="col-md-3">
                <h3>Frontend</h3>
                <a href="http://blog.nubecolectiva.com/category/frontend/" target="_blank">
                  <img class="img-fluid" src="http://blog.nubecolectiva.com/wp-content/uploads/2018/11/img_destacada_blog_devs-11-300x169.png">
                </a>
              </div>

              <div class="col-md-3">
                <h3>Backend</h3>                
                <a href="http://blog.nubecolectiva.com/category/backend/" target="_blank">
                  <img class="img-fluid" src="http://blog.nubecolectiva.com/wp-content/uploads/2018/11/img_destacada_blog_devs-8-300x169.png">
                </a>
              </div>              

              <div class="col-md-3">
                <h3>Android</h3>
                <a href="http://blog.nubecolectiva.com/category/android/" target="_blank">
                  <img class="img-fluid" src="http://blog.nubecolectiva.com/wp-content/uploads/2018/11/img_destacada_blog_devs-9-300x169.png">
                </a>
              </div>

              <div class="col-md-3">
                <h3>Otros</h3>
                <a href="http://blog.nubecolectiva.com/category/articulos/" target="_blank">
                  <img class="img-fluid" src="http://blog.nubecolectiva.com/wp-content/uploads/2018/09/edit_img_destacada_blog_devs-300x169.png">
                </a>
              </div>

          </div>           
          
          
        </div>

    </main>


    <footer class="text-muted mt-3 mb-3">
        <div align="center">
          Desarrollado por <a href="http://www.nubecolectiva.com" target="_blank">Nube Colectiva</a>
      </div> 
    </footer>

    <script type = "text/javascript">
        
        function crearUrlAmigable(str) {

            // Reemplaza los carácteres especiales | simbolos con un espacio 
            str = str.replace(/[`~!@#$%^&*()_\-+=\[\]{};:'"\\|\/,.<>?\s]/g, ' ').toLowerCase();

            // Corta los espacios al inicio y al final del string
            str = str.replace(/^\s+|\s+$/gm, '');

            // Reemplaza el espacio con guión 
            str = str.replace(/\s+/g, '-');

            var input = document.getElementById('url');
            input.value = str;

        }

    </script>
    
  </body>
</html> 